{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Triviale{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


        {% block css %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block body %}
        <div class="wrapper">
        
        <header>
            {% block header %}
                <div class="container">
                <div class="row">
                    <div class="col-4" id="left">
                        <!-- https://www.iconfinder.com/iconsets/social-media-applications -->
                        <ul>
                            <li>
                                <a href="">
                                    <img src="{% static "img/iconfinder_social_media_applications_1-facebook_4102573.svg" %}">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{% static "img/iconfinder_social_media_applications_2-youtube_4102578.svg" %}">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{% static "img/iconfinder_social_media_applications_3-instagram_4102579.svg" %}">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{% static "img/iconfinder_social_media_applications_23-whatsapp_4102606.svg" %}">
                                </a>
                            </li>
                            
                        </ul>

                    </div>
                    <div class="col-4" id="center">
                        <h1 id="title">Triviale</h1>
                        <!--<p>Triviale is a blog about all themes, but from a christian worldview!</p>-->
                    </div>
                    <div class="col-4" id="right">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button id="button-search"><i type="submit" class="material-icons">search</i></button>
                            </form>
                            {% if user.is_authenticated %}    
                                <a class="nav-link disabled" href="{#% url 'logout' %#}">Logout</a>
                            {% else %}
                                <a class="nav-link" href="{#% url 'login' %#}">Sign in</a>
                            {% endif %}         
                    </div>          
                </div>
                </div>
        {% endblock %}
        </header>
    
        <nav class="">
            {% block nav %}
                <div class="container">
                    <ul class="">
                        <li class="">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="dropdown">
                            Posts
                            <ul class="dropdown-content">
                                <li>
                                    <a class="nav-link" href="{#% url 'review' %#}">Reviews</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="{#% url 'convidados' %#}">Convidados</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        </nav>
            

            
        <section class="container">
            {% block section %}

            {% endblock %}
        </section>
        </div>
        <div class="push"></div>
        <footer>
            {% block footer %}
                <div class="container">
                    <div id="center">
                        <h4>Triviale is a blog about all themes, but from a christian worldview!</h4>
                        <p id="copyright">&copy; 2019 Triviale</p>
                    </div>
                </div>
            {% endblock %}
        </footer>
    {% endblock %}
</body>
</html>