{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/author_style.css' %}">
{% endblock %}


{% block title %}{{ author.first_name }}{{ author.last_name }}{% endblock %}

{% block section %}
    <div id="perfil">
        <div id="name">
            <h2>{{ author.first_name }}{{ author.last_name }}</h2>
        </div>

        <div id="biography">
            <p>{{ author.biography }}</p>
        </div>
    </div>
        <div id="posts">
        <ul>
        {% for post in posts %}
            <li>
                <div class="post">
                    <h4>{{ post.title}}</h4>
                    <p>{{ post.subtitle }}</p>
                    <a href="{% url 'post' post.id %}">View Post</a>
                </div>
            </li>
        {% endfor %}
        </ul>

{% endblock %}