/* IMPORTs */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Rosarivo');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');


/* Var */
:root {
    --footer_height: 6em;
}

/* All */
* {
    box-sizing: border-box;
}

html, body {
      height: 100%;
      margin: 0;
    }
.text-justify {
    text-align: justify;
}
/* Header */
    header{
        border-bottom: 1px solid black;
        text-align: center;
        margin: auto;
        display: flex;
    }
    header ul{
        text-align: center;
        margin: 0 auto;
    }
    header ul li{
        display: inline-block;
        padding: 0.2em;
        text-align: center;
    }
    header ul li a{
        color: black;
        text-decoration: none;
    }
    header ul li a:hover {
        text-decoration: underline;
    }
    header ul li a img{
        width: 2em;
        height: 2em;
    }
    header #left, 
    header #center, 
    header #right{
        margin: auto;
        text-align: center;
    }
    header #title{
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        font-style: normal;
        src : url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
    }
    #button-search {
        border: none;
    }

    /* Nav */
    nav {
        display: flex;
        margin: auto;
    }
    nav ul{
        text-align: center;
        margin: 0 auto;
    }
    nav ul li{
        display: inline-block;
        padding: 1em;
        text-align: center;
    }
    .nav-link{
        color: black;
        text-decoration: none;
    }
    .nav-link:hover {
        text-decoration: underline;
    }
    /* https://www.w3schools.com/css/css_dropdowns.asp */
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
      }
    /* ---------------------------- */

/* Section */


/* Article */


/* Footer */
    footer{
        border: 1px solid black;
        height: var(--footer_height);
        display: flex;
        margin: auto;
    }
    footer #center {
        text-align: center;
        margin: auto;
    }

/* UL */

.list-none {
    list-style: none;
}

/* CONTENTs */
    .wrapper {
        min-height: calc(100% - var(--footer_height));
        padding-bottom: 3em;
    }
    /*.push {
        height: var(--footer_height);
    }*/


/* Others */
    .selector-for-some-widget {
        box-sizing: content-box;
    }

    /* para todas as div em uma row ter a mesma altura */
    .row{
        overflow: hidden;
    }
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    /* fim do codigo */
